* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    padding: 0;
    margin: 0;
}

header {
    background-image: url("../images/internet-3116062_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;

}
header::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.940);
    left: 0;
    top: 0;
    z-index: -1;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
    position: relative;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-brand {}

.navbar-brand img {}

.navbar-light .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    background-color: #F3D859;
    width: 0%;
    height: 3px;
    left: 0px;
    bottom: -5px;
    transition: .3s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 47%;
}

.navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    background-color: #F3D859;
    width: 0%;
    height: 3px;
    right: 0px;
    bottom: -5px;
    transition: .3s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 47%;
}

.nav-item {
    padding: 0px 8px;
}

.container-fluid {
    padding: 0;
}

.phone-left1 {
    display: none;
}

.banner-left {
    min-height: 90vh;
    align-items: center;

}

.banner_info {
    z-index: 2;
}

.banner-left h3 {

    color: #F3D859;

    text-transform: uppercase;

    font-size: 16px;

    letter-spacing: 2px;

    font-weight: 700;

    margin-bottom: 15px;
}

.banner-left h1 {

    color: #fff;


    font-size: 42px;

    font-weight: 600;

    margin-bottom: 20px;
}

.banner-left p {

    color: #999999;

    font-weight: 400;

    font-size: 16px;
    margin-bottom: 50px;
}

.btn-download {

    color: rgb(0, 0, 0);

    text-transform: uppercase;

    background: #F3D859;

    padding: 0;
    border: 1px solid transparent;

    /* font-size: 16px; */

    padding: 13px 20px;

    font-weight: 600;
    margin-right: 15px;
    transition: .3s all ease-in-out;
}

.btn-view {

    color: #fff;

    text-transform: uppercase;

    font-weight: 600;

    border: 1px solid #999;

    padding: 0;

    padding: 13px 20px;
    transition: .3s all ease-in-out;

}

.btn-download:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #999;

}

.btn-view:hover {
    color: rgb(0, 0, 0);
    background-color: #F3D859;
    border: 1px solid #F3D859;

}

.phone {
    position: absolute;
    bottom: 0;
    right: 5%;
    text-align: right;
}

.phone img {
    width: 50%;
}

.product {

    padding: 35px 0;

    text-align: center;

    border-bottom: 1px solid #999;

    /* position: relative; */

    background: #000000d9;

    border-top: 0.1px solid #878787;
}

.product h3 {
    color: #F3D859;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.product h1 {
    color: #ffffff;
    font-weight: 600;
    margin-top: 0;
    font-size: 40px;
    /* margin-bottom: 20px; */
}

.product span {
    display: block;
    margin: auto;
    position: relative;
    width: 6%;
    height: 3px;
    margin-top: 20px;
}

.product span::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #F3D859;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: .3s all ease-in-out;
}

.product span::before {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #F3D859;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s all ease-in-out;
}

.product:hover span::before,
.product:hover span::after {
    width: 47%;
}

.pro {}

.pro-icon {

    height: 75px;

    width: 75px;

    border: 1px solid #999;

    /* align-items: center; */

    color: #F3D859;

    border-radius: 50%;

    font-size: 27px;

    /* padding: 20px; */

    line-height: 75px;

    margin: auto;

    margin-bottom: 20px;
    transition: .2s all ease-in-out;
}

.pro h2 {

    color: #ffffff;

    font-size: 30px;

    font-weight: 500;
}

.pro p {

    color: #999;

    margin-top: 10px;
}

.pro-icon:hover {
    background-color: #F3D859;
    color: #2e2e2e;
    border: 1px solid #F3D859;
}

.item-phone {

    padding: 70px 0 0px;

    background: #000000d9;
}

.item-phone-img {
    text-align: center;
    width: 60%;
}

.item-phone h3 {

    text-transform: uppercase;

    font-size: 17px;

    color: #F3D859;

    letter-spacing: 2px;

    font-weight: 700;

    margin-bottom: 8px;

}

.item-phone h1 {

    font-size: 42px;

    padding: 0;

    margin-bottom: 20px;

    margin-top: 0;

    color: #ffffff;

    font-weight: 600;
}

.item-phone span {
    display: block;
    width: 6%;
    position: relative;
    margin-bottom: 40px;
}

.item-phone span::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.item-phone span::before {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.item-phone:hover span::after,
.item-phone:hover span::before {
    width: 47%;
}

.item-phone p {
    color: #999;
}

.item-phone ul {

    list-style: none;

    margin-top: 40px;
}

.item-phone ul li {

    color: #1b1b1b;

    display: flex;


    align-items: center;


    margin-bottom: 8px;
}

.item-phone ul li h3 {

    color: #ffffff;

    font-weight: 600;
}

.item-phone ul li .ul-icon {
    height: 28px;
    width: 28px;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}

.item-phone ul li .ul-icon i {

    color: #F3D859;
}

.smartphone {
    padding-top: 70px;
    background-color: #000000d9;
    padding-bottom: 20px;
    border-top: 0.1px solid #878787;
}

.smartphone h3 {
    text-transform: uppercase;
    font-size: 17px;
    color: #F3D859;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 50px;
}

.smartphone h1 {

    font-size: 42px;

    padding: 0;

    margin-bottom: 20px;

    margin-top: 0;

    color: #ffffff;

    font-weight: 600;
}

.smartphone span {
    display: block;
    width: 6%;
    position: relative;
    margin-bottom: 40px;
}

.smartphone span::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.smartphone span::before {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.smartphone:hover span::after,
.smartphone:hover span::before {
    width: 47%;
}

.smartphone p {
    color: #999;

}


.smart {
    width: 70%;
}

.slider {
    background-image: url(../images/office-1730939_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    z-index: 0;
    position: relative;
}
.slider::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.680);
    left: 0;
    top: 0;
    z-index: -1;
}

.slider h3 {
    text-transform: uppercase;
    font-size: 17px;
    color: #F3D859;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 5px;
    /* margin-top: 50px; */
}

.slider h1 {

    font-size: 42px;

    padding: 0;

    margin-bottom: 20px;

    margin-top: 0;

    color: #fff;

    font-weight: 600;
}

.slider-top span {
    display: block;
    width: 6%;
    position: relative;
    /* margin-bottom: 41px; */
    margin: auto;
    margin-bottom: 40px;
}

.slider-top span::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.slider-top span::before {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.slider:hover span::after,
.slider:hover span::before {
    width: 47%;
}


.slider-top {
    text-align: center;
}

.slider p {

    color: #fff;

    font-style: italic;

    /* letter-spacing: 1px; */

    /* font-weight: 400; */

    padding: 0;

    font-size: 17px;

    margin-top: 70px;
}

.client {

    margin-top: 30px;

    display: flex;

    /* align-items: center; */
}

.client-img {

    height: 80px;

    width: 80px;

    /* border: 1px solid #fff; */

    border-radius: 50%;

    overflow: hidden;

    position: relative;
}

.client-img img {

    top: -4px;

    position: absolute;
}

.client-data {

    margin-left: 20px;

    /* align-items: center; */

    margin-top: 15px;
}

.client-data h3 {

    color: #fff;

    font-size: 16px;
}

.client-data h1 {

    color: #fff;

    font-size: 18px;
}

.client-data h1::after {
    display: none !important;
}

.client-data h1::before {
    display: none !important;
}

.owl-nav {}

.owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translateY(-50%);
}

.owl-nav .owl-prev span {

    color: #fff;

    font-size: 40px;
}

.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -2%;
    transform: translateY(-50%);
}

.owl-nav .owl-next span {

    color: #fff;

    font-size: 40px;
}

.owl-dots {
    text-align: center;
    margin-top: 25px;
}

.owl-dots .owl-dot {}

.owl-dots .owl-dot span {
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 5px;
}

.owl-dots .active span {
    display: block;
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
}

.like {

    background: #15141a;

    padding: 30px 0;
}

.like-data {

    display: flex;

    align-items: center;
}

.like-data h1 {

    color: #fff;

    font-size: 37px;

    font-weight: 600;

    margin-right: 5px;
}

.like-data h2 {
    color: #fff;
    font-size: 29px;
    font-weight: 300;
}

.like .btn-download {
    margin-right: 0;
}

.like .btn-view {
    margin-right: 15px;
}

.pricing h3 {
    text-transform: uppercase;
    font-size: 17px;
    color: #F3D859;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 5px;
    /* margin-top: 50px; */
}

.pricing h1 {

    font-size: 42px;

    padding: 0;

    margin-bottom: 20px;

    margin-top: 0;

    color: #ffffff;

    font-weight: 600;
}

.pricing-header span {
    display: block;
    width: 6%;
    position: relative;
    /* margin-bottom: 41px; */
    margin: auto;
    margin-bottom: 40px;
}

.pricing-header span::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.pricing-header span::before {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.pricing:hover span::after,
.pricing:hover span::before {
    width: 47%;
}

.pricing {
    text-align: center;
    padding: 50px 0;
    background: #000000d9;
}

.pricing_table {

    margin-top: 50px;

    border: 1px solid #999999;

    text-align: center;
}

.pricing_table h1 {

    text-transform: uppercase;

    font-size: 30px;

    font-weight: 700;

    border-bottom: 1px solid #999;

    padding: 0;

    padding: 20px 0;

    /* padding-bottom: 0; */
    transition: .2s all ease-in-out;
    margin-bottom: 0;
}

.pricing_section {
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
    transition: .3s all ease-in-out;
}

.pricing_section h2 {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.pricing_section h2 sup {
    font-size: 30px;
    font-weight: 600;
}

.pricing_section h6 {
    padding: 0;
    margin: 0;
    color: #fff;
}

.pricing_table p {
    padding-top: 30px;
    padding: 25px;
    color: #fff;
}

.pricing_table p span {
    color: #F3D859;
}

.btn-order {
    color: #000000;
    text-transform: uppercase;
    background: #fff;
    padding: 0;
    border: 1px solid #999;
    /* font-size: 16px; */
    padding: 13px 20px;
    font-weight: 600;
    margin-bottom: 25px;
    transition: .3s all ease-in-out;
}

.pricing_table:hover .btn-order {
    color: #000;
    background-color: #F3D859;
    border: 1px solid #F3D859;
}

.pricing_table:hover h1 {
    color: #F3D859;
}

.pricing_table:hover .pricing_section h2 {
    color: #000;
}

.pricing_table:hover .pricing_section h6 {
    color: #000;
}

.pricing_table:hover .pricing_section {
    background-color: #F3D859;

}

.contact {
    background-image: url(../images/laptop-3214756_1280.png);
    padding: 50px 0;
    text-align: center;
    position: relative;
    padding-bottom: 300px;
    position: relative;
    z-index: 0;
}
.contact::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.840);
    left: 0;
    top: 0;
    z-index: -1;
}


.contact h3 {
    text-transform: uppercase;
    font-size: 17px;
    color: #F3D859;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 5px;
    /* margin-top: 50px; */
}

.contact h1 {

    font-size: 42px;

    padding: 0;

    margin-bottom: 20px;

    margin-top: 0;

    color: #ffffff;

    font-weight: 600;
}

.contact span {
    display: block;
    width: 6%;
    position: relative;
    /* margin-bottom: 41px; */
    margin: auto;
    margin-bottom: 40px;
}

.contact span::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.contact span::before {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F3D859;
    transition: .3s all ease-in-out;

}

.contact:hover span::after,
.contact:hover span::before {
    width: 47%;
}

.contact i {

    font-size: 35px;

    margin-bottom: 15px;

    margin-top: 50px;

    color: #F3D859;
}

.contact p {

    margin-bottom: 0;

    color: #999;

    text-align: center;
}

.contact_form {

    background: #15141a;

    padding: 50px;

    position: absolute;

    width: 55%;

    bottom: -110px;

    left: 50%;

    transform: translateX(-50%);
}

.contact_form form {
    text-align: end;
}

.contact_form form input {

    background: transparent;

    border: none;

    border: 1px solid #999;
    padding: 8px;
    color: #fff !important;
}

.contact_form form textarea {
    background: transparent;
    border: none;
    border: 1px solid #999;
    color: #fff !important;
}

.contact_form form input[type="submit"]:hover {
    background-color: #c2a421;
}

.contact_form form input[type="submit"] {
    background: transparent;
    border: none;
    border: 1px solid #F3D859;
    padding: 0;
    padding: 11px 18px;
    background: #F3D859;
    color: #000 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.contact_form form input:focus,
.contact_form form textarea:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border-color: #999;
}

.contact_form form input::placeholder,
.contact_form form textarea::placeholder {
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
}

.map iframe {
    display: block;
}

footer {

    text-align: center;

    padding: 30px 0;
    background-color: #15141a;
}

footer ul {

    justify-content: center;

    list-style: none;

    display: flex;
}

.navbar-light .navbar-brand {
    width: 15%;
}

footer ul li {

    margin: 10px;
}

footer ul li a {

    font-size: 22px;

    color: #999;
    transition: .2s all ease-in-out;
}

footer p {

    margin-bottom: 0;

    color: #999;
}

footer ul li a:hover {
    color: #F3D859;
}